# Negeer alles:
*

# Behalve deze file zelf:
!.gitignore

# En files met deze extensie:
!*.java
!*.jar
!*.class
!*.txt
!*.pdf
!*.dll
!*.ipynb
!*.tex

# En deze specifieke folders:
!/META-INF/
!/latex/

# Ook al zitten ze in subfolders
!*/
